<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="St0p_All_1">
<GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>
  <Service name="Catalina">
  <Connector port="8080" protocol="HTTP/1.1" connectionTimeout="20000" redirectPort="8443" allowTrace="false" xpoweredBy="false" server="server" maxPostSize="204800"></Connector>
<!-- <Connector port="8443" protocol="org.apache.coyote.http11.Http11Protocol" maxThreads="150" SSLEnabled="true" scheme="https" secure="true" clientAuth="false" sslProtocol="TLS" sslEnabledProtocols="TLSv1.2" ciphers="RSA_WITH_3DES_EDE_CBC_SHA, DHE_RSA_WITH_3DES_EDE_CBC_SHA, RSA_WITH_AES_128_CBC_SHA, DHE_RSA_WITH_AES_128_CBC_SHA, RSA_WITH_AES_128_CBC_SHA256, DHE_RSA_WITH_AES_128_CBC_SHA256, TLS_ECDHE_RSA_WITH_3DES_EDE_CBC_SHA, TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA, TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256, TLS_RSA_WITH_AES_128_CBC_SHA256" truststoreFile="conf/store/tomcat.truststore" keystoreFile="conf/store/tomcat.keystore" keystorePass="PiNpad09" connectionTimeout="20000" allowTrace="false" xpoweredBy="false" server="server" maxPostSize="204800"></Connector> -->
<Connector port="8009" protocol="AJP/1.3" address="127.0.0.1" enableLookups="false" redirectPort="undef" allowTrace="false" xpoweredBy="false" server="server" packetSize="65536"></Connector>
<Engine name="Catalina" defaultHost="localhost"><Realm className="org.apache.catalina.realm.LockOutRealm"><Realm className="org.apache.catalina.realm.UserDatabaseRealm"></Realm>
</Realm>
<Host name="localhost" appBase="webapps" unpackWARs="false" autoDeploy="false"></Host>
<Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs" autoDeploy="false" prefix="localhost_access_log." suffix=".txt" pattern="%h %l %u %t &quot;%r&quot; %s %b"></Valve>
</Engine>
</Service>
<Listener className="org.apache.catalina.startup.VersionLoggerListener"></Listener>
<Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"></Listener>
<Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"></Listener>
<Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"></Listener>
<Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"></Listener>
<Listener className="org.apache.catalina.core.JasperListener"></Listener>
</Server>
